<% provide(:title,"About") %>
 
    <h1>About</h1>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <%= javascript_pack_tag 'user/application' %>
  