<div class="center jumbortron">
 <h1>Welcome to the Sample App</h1>
 <h2>
  This is the home page for the <a href="https://google.com"target="_blank">GOOGLE</a>
  sample application
  </h2>

  <%= link_to "Sign up Now !", signup_path, class: "btn btn-lg btn-primary"%>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"), 
 'http://rubyonrails.org/',  data: {confirm: '本当に開きますか?'} %>
 <%#= image_tag("kitten.jpg",alt: "cat image") %> 